body{
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 12vh 70vh 12vh;
    background-color: black;
}
.header{
    border: 4px yellow solid;
    background-color: rgb(182, 171, 90);
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1{
    font-size: 50px;
    margin: 0;
    margin-top: 10px;
}
.header img{
    height: 80px;
}
aside{
    border: 4px yellow solid;
    background-color: rgb(66, 62, 26);
    text-align: center;
    grid-column: 2;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside img{
    margin-top: 20px;
    height: 125px;
}
.DIV1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.DIV2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}
.DIV3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
img{
    height: 100px;
}
footer{
    grid-column: 1;
    grid-row: 3;
    border: 4px yellow solid;
    background-color: rgb(182, 171, 90);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerText{
    margin-top: 2.5px;
    width: 800px;
}
.kundvagn{
    border: 4px yellow solid;    
    background-color: rgb(33, 31, 13); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 275px;
    width: 225px;
}
.total{
    border: 4px yellow solid;    
    background-color: rgb(94, 89, 37); 
    width: 225px;
    color: yellow;
}
h2{
    color: yellow;
}
.knapp{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: max-content;
    border: 4px yellow solid;  
    background-color: rgb(212, 212, 212);
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.knapp button{
    width: 250px;
    height: 40px;
    font-size: 30px;
}

main{
    border: 4px yellow solid;
    background-color: rgb(94, 89, 37);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
main b{
    color: yellow;
}
main img{
    background-color: black;
    border: solid 3px yellow;
    object-fit: scale-down;
}

.albatros{
    display: flex;
    flex-direction: column;
    width: 225px;
}
.gam{
    display: flex;
    flex-direction: column;
    width: 225px;
}
.kiwi{
    display: flex;
    flex-direction: column;
    width: 225px;
}
.kolibri{
    display: flex;
    flex-direction: column;
    width: 225px;
}
.papegoja{
    display: flex;
    flex-direction: column;
    width: 225px;
}
.stork{
    display: flex;
    flex-direction: column;
    width: 225px;
}
.struts{
    display: flex;
    flex-direction: column;
    width: 225px;
}
.tukan{
    display: flex;
    flex-direction: column;
    width: 225px;
}
.örn{
    display: flex;
    flex-direction: column;
    width: 225px;
}